body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #D1E4C4;
}
.left, .middle, .right{
    margin: 10%;
}
.yoga{
    width: 20%;
    height: 70vh;
    border: 8px;
}
.expand{
    background: #ffffff;
    /* opacity: 0.3; */
    border-radius: 50%;
    position: absolute;
    margin: 3% 0 0 -3.5%;
}
.views{
    display: flex;
    position: absolute;
    margin-left: 10%;
    margin-top: -5%;
}
.views p{
    color: #ffffff;
}
.eye{
    margin-top: 20%;
    padding-right: .5em;
}